polygon_pos_package:
  participants:
    # 4 validators.
    - kind: validator
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: bor:local
      el_bor_produce_witness: true
      el_bor_sync_with_witness: false
      count: 4

    # 3 validators using stateless sync. Any of them having sync issue will cause the test to fail.
    - kind: validator
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: bor:local
      el_bor_produce_witness: true
      el_bor_sync_with_witness: true
      count: 3

    # 1 validator with latest Bor image.
    - kind: validator
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: 0xpolygon/bor:latest
      el_bor_produce_witness: false
      el_bor_sync_with_witness: false
      count: 1

    # 3 RPC nodes.
    - kind: rpc
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: bor:local
      el_bor_produce_witness: false
      el_bor_sync_with_witness: false
      count: 1

    - kind: rpc
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: bor:local
      el_bor_produce_witness: true
      el_bor_sync_with_witness: false
      count: 1

    - kind: rpc
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: bor
      el_image: bor:local
      el_bor_produce_witness: true
      el_bor_sync_with_witness: true
      count: 1

    - kind: rpc
      cl_type: heimdall-v2
      cl_image: heimdall-v2:local
      el_type: erigon
      el_image: 0xpolygon/erigon:latest
      el_bor_produce_witness: false
      el_bor_sync_with_witness: false
      count: 1

  additional_services:
    - test_runner
